body { 
    margin: 0;
    background-color: #F2F0EA;
    width: 100%;
}


.parallax {
background-image: url(../images/background.png);
/* Set a specific height */
height: 620px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.mountains {
position: absolute;
top: 0;
padding-top: 26em;}

.titletext {
position: absolute;
top: 0;
padding-top: 15em;
padding-left: 15em;
background-attachment: fixed;}


.darknavy {
    background-color: #2A353D;
    padding-bottom: 45em;
    z-index: -1;}


.container { 
    position: absolute;
    margin: 0;
    background-color: #F2F0EA;
    width: 100%;
    top: auto;
    padding-bottom: 3em;
        }

.container2  {
    position: absolute;
    background-color: #2A353D;
    width: 100%;
    }

.twotrees {
    position: absolute;
    z-index: 1;
    margin-top: -360px;
}

/*-------------------*/


.title {
    font-family: "Open Sans";
    font-weight: 600;
    letter-spacing: 0.1;
    font-size: 6em;
    position: absolute;
    left: 85px;
    top: 30px;
    width: 30%;
    text-align: left;
    color: #302F30;
    line-height: 0.4;
}

/*-------------------*/

.first {
    font-family: 'raleway';
    font-size: .8em;
    position: relative;
    color: darkslategray;
    top: 820px;
    align-content: center;}

.newzealandbird {
    position: relative;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 600;
    width: 450px;
    padding-left: 1.3em;
    padding-top: .2em;
    color: #F2F0EA;
    font-family: 'Open Sans', sans-serif;}

/*-------------------*/

hr {width: 450px;
    height: 4px;
    background-color: #E38B11;
    color: #E38B11;
    border: 0;}

/*-------------------*/

.line2 {
    padding-top: 1.5em;}


.rediscovery {
    position: absolute;
    width: 450px;
    padding-left: 4.7em;
    font-size: 1em;
    font-family: 'raleway';
}

.rediscovery2 {
    position: absolute;
    width: 400px;
    padding-left: 5.9em;
    top: 200;
    font-size: .8em;
    font-weight: 400;
    font-family: 'raleway';}


.intro {
    padding-top: 3.5em;}


.yellowlogo {
    padding-top: .5em;
    position: absolute;}


.sectionone {
    padding-top: 5em;
    float: left;
    padding-left: .4em;
    width: 44%;}


.sectiontwo {
    float: left;
    width: 510px;
    padding-left: 5em;
    padding-right: 1em;
    padding-bottom: 1em;
 
    }

/*-----------------------*/

.sectionthree {
    float: left;
    padding-left: 5em;
    width: 40%;
    text-align: left;
    padding-bottom: 3em;}

.sectionfour {
    float: left;
    padding-left: 5em;
    width: 40%;
    text-align: left;
    padding-bottom: 4em;}

/*-----------------------*/


p {
    font-family: 'raleway';
    color: #F2F0EA;
    font-weight:500;
    padding-left: .3em;}


h3 {
    font-family: 'raleway';
    color: #2A3C42;
    font-weight:500;
    padding-left: .3em;
    font-size: 1em;}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding-left: 3.5em;
    padding-top: .6em;
    color: #2A3C42;
    }


h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding-left: 2.7em;
    padding-top: .6em;
    color: #2A3C42;
    }

h5 { 
    font-family: "Open Sans";
    font-size: .8em;
    font-weight: 600;
    width: 65%;
    text-align: left;
    padding-top: .5em;
    padding-left: 3em;
    padding-bottom: 1em;
    color: darkslategray;
}


.smallprint { 
    font-family: "Open Sans";
    font-size: .8em;
    font-weight: 600;
    padding-top: .5em;
    padding-bottom: 1.2em;
    color:#F2F0EA ;
    text-align: center;
}


/*-----------------------*/

.tree {width: 100%;}
.ground {width: 100%;}
.leafs {width: 100%;}
.birdies {
    position: relative;
    padding-top: 2em;
    padding-left: 2.5em;}

/*-----------------------*/

figcaption {
    position: relative;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #213038;}

table {
    width: 50%;
    height: 30%;}


th {
    text-align: left;
    font-family: "raleway";
    font-size: 1.1em;
    text-transform: uppercase;
    border-bottom: 3px solid #E38B11;
    padding-bottom: .4em;
    padding-right: 1em;}


.whitey {
    text-align: left;
    font-family: 'raleway';
    font-size: 1em;
    padding-bottom: .7em;
    padding-top: .3em;
    color: #213038}

td, tr{
    text-align: left;
    font-family: 'raleway';
    font-size: 1em;
    padding-bottom: .7em;
    padding-top: .3em;
    color: #F2F0EA}



.NZ {
    position: relative;
    text-align: left;
    width: 90%;
    font-size: 1.3em;
    padding-bottom: .5em;
}

.facts {
    width: 100%;
    font-family: "Raleway";
    font-size: 1.3em;
    padding-bottom: 5em;
}




ul {
    font-family: "Raleway";
    font-size: 1.3em;}


.fastfacts {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.7em;
    color: #F2F0EA;}


.underscores {
 border-bottom: 2px solid #E38B11;}


